

## group.html - Showing group tab buttons with vectors in the group


<%page args="device, groups, selectedgp, vectors, timestamp, loggedin, blobfolder, message_timestamp"/>


  <div class="w3-panel">
    <div class="w3-bar w3-light-grey" >
      % for group in groups:
        % if selectedgp == group:
            <a hx-get="/device/changegroup/${device|h}/${group|h}" class="w3-bar-item w3-button w3-mobile w3-green" hx-target="#grouptabs">${group|h}</a>
        % else:
            <a hx-get="/device/changegroup/${device|h}/${group|h}"  class="w3-bar-item w3-button w3-mobile"  hx-target="#grouptabs">${group|h}</a>
        % endif
      % endfor
    </div>
  </div>

## For the displayed group, show the vectors in the group

  % for vectorobj in vectors:
    <div class="w3-panel">

       <div hx-ext="sse" sse-connect="/vector/vectorsse/${device|h}/${vectorobj.name|h}">
        <div hx-get="/vector/update/${device|h}/${vectorobj.name|h}" hx-trigger="sse:${vectorobj.name|h}" hx-target=this>

##         <%include file="/vector/getvector.html" args="vectorobj=vectorob, timestamp=timestamp, loggedin=loggedin, blobfolder=blobfolder, message_timestamp=message_timestamp"/>

        </div>
       </div>

    </div>
  % endfor
