

## group.html - Showing group tab buttons with vectors in the group


<%page args="deviceid, device, groups, selectedgp, vectors"/>

  <div class="w3-panel">
    <div class="w3-bar w3-light-grey" >
      % for group in groups:
        % if selectedgp == group:
            <a hx-get="/device/changegroup/${deviceid}/${group|h}" class="w3-bar-item w3-button w3-mobile w3-green" hx-target="#grouptabs">${group|h}</a>
        % else:
            <a hx-get="/device/changegroup/${deviceid}/${group|h}"  class="w3-bar-item w3-button w3-mobile"  hx-target="#grouptabs">${group|h}</a>
        % endif
      % endfor
    </div>
  </div>

## For the displayed group, show the vectors in the group

  % for vectorobj in vectors:
    <div class="w3-panel">

       <div hx-ext="sse" sse-connect="/vector/vectorsse/${vectorobj.itemid}">
        <div hx-get="/vector/update/${vectorobj.itemid}" hx-trigger="sse:vector_${vectorobj.itemid}" hx-target=this>

        ## /vector/update/... is called as soon as the sse-connect is made, and which then inserts vector/getvector.html here

        </div>
       </div>

    </div>
  % endfor
