

## getvector.html - Shows a vector


 <div class="w3-row w3-border-top">
  <div class="w3-container w3-threequarter">
    <h3>${vectorobj.label}</h3>
  </div>
  % if vectorobj.state == "Ok":
      <div id="state_${vectorobj.name}" class="w3-container w3-quarter w3-green">
  % elif vectorobj.state == "Busy":
      <div id="state_${vectorobj.name}" class="w3-container w3-quarter w3-yellow">
  % elif vectorobj.state == "Alert":
      <div id="state_${vectorobj.name}" class="w3-container w3-quarter w3-red">
  % else:
      <div id="state_${vectorobj.name}" class="w3-container w3-quarter">
  % endif

    <p>State ${timestamp} : ${vectorobj.state}</p>
  </div>
</div>

  <div class="w3-container">
    % if vectorobj.message:
       <p>${message_timestamp} : ${vectorobj.message|h}</p>
    % else:
       <p>Message: Waiting...</p>
    % endif
  </div>

% if vectorobj.perm != "ro":
 <div hx-include=this>
% endif

 % for memberobj in sorted(vectorobj.members().values(), key=lambda memberobj: memberobj.label):
    ## For each member, sorted by member label
    % if vectorobj.vectortype == "LightVector":
      <%include file="lightmember.html" args="vectorob=vectorobj, memberobj=memberobj"/>
    % elif vectorobj.vectortype == "TextVector":
      <%include file="textmember.html" args="vectorob=vectorobj, memberobj=memberobj"/>
    % elif vectorobj.vectortype == "NumberVector":
      <%include file="numbermember.html" args="vectorob=vectorobj, memberobj=memberobj"/>
    % elif vectorobj.vectortype == "SwitchVector":
      <%include file="switchmember.html" args="vectorob=vectorobj, memberobj=memberobj"/>
    % endif
 % endfor


% if vectorobj.perm != "ro":
  <div class="w3-row w3-panel">
    <div id="result_${vectorobj.name}" class="w3-container w3-threequarter">
       <p></p>
    </div>
    <div class="w3-container w3-quarter">
       <button hx-post="/vector/submit/${vectorobj.devicename|h}/${vectorobj.name|h}" hx-include="inherit" hx-target="#result_${vectorobj.name}" class="w3-button w3-black w3-ripple w3-round">
         Submit
       </button>
    </div>
  </div>
 </div>
% endif
