

## switchmember.html

<%page args="vectorobj, memberobj"/>


 % if vectorobj.perm == "ro":

 <div class="w3-content" style="max-width:60%;margin-top:1vh">
  <div class="w3-row">
   <div class="w3-container w3-threequarter">
     <p>${memberobj.label}</p>
   </div>

   <div class="w3-container w3-quarter">
      % if memberobj.membervalue == "On":
        <button class="w3-button w3-xlarge w3-circle w3-red">On</button>
      % else:
        <button class="w3-button w3-xlarge w3-circle w3-grey">Off</button>
      % endif
   </div>
 </div>
</div>

% else:

 <div class="w3-content" style="max-width:70%;margin-top:1vh">
  <div class="w3-row">
   <div class="w3-container w3-third">
     <p>${memberobj.label}</p>
   </div>

   <div class="w3-container w3-third">
      % if memberobj.membervalue == "On":
        <button class="w3-button w3-xlarge w3-circle w3-red">On</button>
      % else:
        <button class="w3-button w3-xlarge w3-circle w3-grey">Off</button>
      % endif
   </div>

   <div class="w3-container w3-third">
     <div class="w3-row">


      % if memberobj.membervalue == "On":
        <div class="w3-container w3-half">
          <input id="inputon_${vectorobj.name|h}_${memberobj.name|h}" onclick="switchFunction([
% for membername in vectorobj:
   % if membername != memberobj.name:
'inputoff_${vectorobj.name|h}_${membername|h}',
   % endif
%endfor

])" class="w3-radio" type="radio" name="${memberobj.name|h}" value="On" checked hx-preserve />
          <label>On</label>
        </div>
        <div class="w3-container w3-half">
          <input id="inputoff_${vectorobj.name|h}_${memberobj.name|h}"  class="w3-radio" type="radio" name="${memberobj.name|h}" value="Off" hx-preserve />
          <label>Off</label>
        </div>
      % else:
        <div class="w3-container w3-half">
          <input id="inputon_${vectorobj.name|h}_${memberobj.name|h}" onclick="switchFunction([
% for membername in vectorobj:
   % if membername != memberobj.name:
'inputoff_${vectorobj.name|h}_${membername|h}',
   % endif
%endfor

])" class="w3-radio" type="radio" name="${memberobj.name|h}" value="On" hx-preserve />
          <label>On</label>
        </div>
        <div class="w3-container w3-half">
          <input id="inputoff_${vectorobj.name|h}_${memberobj.name|h}"  class="w3-radio" type="radio" name="${memberobj.name|h}" value="Off" checked hx-preserve />
          <label>Off</label>
        </div>
      % endif


     </div>
   </div>

 </div>
</div>

 % endif
